// ################### MENU ##################
.menu {
  h1 {
    text-align: center;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .menuInputs {
      display: flex;
      padding: 10px;
      span {
        font-weight: bold;
        min-width: 10%;
        text-align: right;
      }
      input {
        margin-left: 10px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }
  button {
    float: right;
    margin: 0 5%;
  }
}
