// ################### MENU ##################
.menu {
  .menu-list {
    margin: 5%;
  }
  .render-menu-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    &:hover {
      background-color: red;
    }
    .render-menu-container {
      div {
        display: flex;
        p {
          font-weight: bold;
          min-width: 10%;
        }
      }
    }
  }
  h1 {
    text-align: center;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .menu-inputs {
      display: flex;
      padding: 10px;
      span {
        font-weight: bold;
        min-width: 10%;
        text-align: right;
      }
      input {
        margin-left: 10px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }
  button {
    float: right;
    margin: 2% 5%;
  }
}
